* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
::placeholder {
    font-size: 1.1rem;
}
.bg {
  width: 100%;
  height: 100vh;
  background-image: url("/images/Banner1.jpg");
  filter: blur(12px);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.box {
  background-color: #fff;
  width: 450px;
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(93, 31, 173, 0.466), 0 6px 20px 0 rgba(78, 24, 148, 0.658);
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
form input {
  border: 1px solid #180161;
  padding: 14px;
  border-radius: 5px;
  font-size: 1.1rem;
}
button {
    background-color: #180161;
    color: #fff;
    margin-top: 1.5rem;
    padding: 1rem 0;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: 0.5s ease;
}
button:hover {
    background-color: #021526;
}
